Experimenting with Solr SQL
===========================

This notebook is for experimenting with Solr's Parallel SQL interface, especially via an SQLAlchemy plugin so that it's exactly like normal SQL.

Unfortunatley, current state of play is that Solr 6 does not cope with SQL queries on _aliases_, so it's not much use for text analysis right now.

The SQL system does work okay for Solr 8, but the `SELECT *` logic seems to be a bit brittle (at least via the SQLAlchemy module).  It works pretty reliably if the fields are explicitly enumerated.

In [1]:
!pip install sqlalchemy-solr

Requirement already satisfied: sqlalchemy-solr in /opt/conda/lib/python3.7/site-packages (0.2.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from sqlalchemy-solr) (1.17.3)
Requirement already satisfied: requests in /opt/conda/lib/python3.7/site-packages (from sqlalchemy-solr) (2.22.0)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.7/site-packages (from sqlalchemy-solr) (1.3.11)
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (from sqlalchemy-solr) (0.25.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests->sqlalchemy-solr) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->sqlalchemy-solr) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->sqlalchemy-solr) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests->sqlalchemy-solr) (1.25.7)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas->sqlalchemy-solr) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas->sqlalchemy-solr) (2019.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->sqlalchemy-solr) (1.13.0)

In [29]:
from sqlalchemy import create_engine

engine = create_engine('solr://solr.api.wa.bl.uk:80/solr/fc')

# Unfortunately, for Solr 6, we can't query aliases and all fields * leads to class cast exceptions!
# (java.lang.Long cannot be cast to java.lang.String)
rows = engine.execute("SELECT id,url FROM `NPLD-FC2017-20190228` LIMIT 1")

for r in rows:
    for column, value in r.items():
        print(column, value)

************************************
Query: SELECT id,url FROM `NPLD-FC2017-20190228` LIMIT 1
************************************
id 20171225120530/r1upsuMttEfpjRI2R4rN7Q==
url http://www.newquayvoice.co.uk/news/5/article/2920/
************************************
Catched StopIteration in fetchone
************************************

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Only create this engine once per kernel session, or things get confuse (?)
engine = create_engine('solr://solr8.api.wa.bl.uk:80/solr/tracking',echo=False)

In [11]:
#rows = engine.execute("SELECT * FROM tracking LIMIT 10")

# Note that SELECT * can get a bit wonky when requesting multiple documents, best to be explicit:
sql_df = pd.read_sql_query(
    "SELECT id,timestamp_dt FROM tracking WHERE kind_s = 'warcs' LIMIT 2",
    con=engine
)

sql_df

************************************
Query: SELECT id,timestamp_dt FROM tracking WHERE kind_s = 'warcs' LIMIT 2
************************************

                                                  id        timestamp_dt
0  hdfs://hdfs:54310/1_data/npld/webrecorder/bl-y... 2016-12-30 11:59:00
1  hdfs://hdfs:54310/1_data/npld/webrecorder/bl-y... 2016-12-30 11:59:00